@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  --swiper-theme-color: #ffffff !important;
}

body {
  @apply bg-white dark:bg-app-black text-app-black dark:text-white;
}

@layer base {
  h1 {
    @apply font-medium text-3xl;
  }
  h2 {
    @apply font-semibold text-[min(10vw,64px)];
  }
  h3 {
    @apply text-[min(6vw,32px)] font-medium;
  }
  p {
    text-wrap: balance;
    @apply text-[min(4vw,20px)] font-medium;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-gray-400;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#1D1D1F];
}

/* Second variant */
.scroll_horisontal {
  @apply h-auto overflow-y-auto;
}

.scroll_horisontal::-webkit-scrollbar {
  @apply h-2 sm:h-4;
}

.scroll_horisontal::-webkit-scrollbar-track {
  @apply bg-gray-400 mx-10;
}

.scroll_horisontal::-webkit-scrollbar-thumb {
  @apply bg-[#1D1D1F];
}

.wrapper {
  @apply max-w-7xl w-full mx-auto px-3 sm:px-6 py-5;
}

.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.text-accent {
  @apply dark:text-white text-app-black;
}
